<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Países Dashboard</title>
  <link rel="stylesheet" href="/public/styles.css"> <!-- Ajusta si usas CSS -->
</head>
<body>
  <!-- Navbar -->
  <%- include('./partials2/navbar2') %>

  <!-- Contenido dinámico -->
  <main>
    <%- body %>
  </main>

  <!-- Footer -->
  <%- include('./partials2/footer2') %>
</body>
</html>
